<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html>
    <head>
        <title>Online Store APP - {% block title %}Welcome!{% endblock %}</title>
    </head>
 <body>
 <div class="jumbotron text-center">
    <h1 id="header">{% block myhdg %}Hello {{ request.user.first_name }} {% endblock %}</h1>
    <p><a href="{% url 'myapp:index' %}">Go to main page</a> |
        <a href="{% url 'myapp:myorders' %}">My orders</a> |
        {% if not request.session.last_login %}
            {{ request.session.last_login }}
            <a href="{% url 'myapp:user_login' %}">Login</a>
        {% else %}
            <a href="{% url 'myapp:user_logout' %}">Logout</a></p>
        {% endif %}

 </div>

 <div class="container">
 {% block body_block %}*** {% endblock %}
 </div>
 <hr/>
 <div class="container">
 <ul>
     <li class="hbar1"><a href="{% url 'myapp:products' %}">List of products</a></li>
     <li class="hbar1"><a href="{% url 'myapp:about' %}">Find out about this site</a></li>
     <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
 </ul>
 </div>
 </body>
</html>