{% extends 'myapp/base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block myname %}Group 4 {% endblock %}
{% block body_block %}
    <h3>{{ product.name }}</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <strong>People intrested in:</strong>
                </td>
                <td>
                    {{ product.interested }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Price:</strong>
                </td>
                <td>
                    $ {{ product.price }}
                </td>
            </tr>
            <tr>
                {% if product.available %}
                <td>
                    <strong>Available:</strong>
                </td>
                <td>
                    {{ product.available }}
                </td>
                {% else %}
                    <strong>This product is not available</strong>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <form class="empty-form" action="" method="post">

        {% csrf_token %}
        <table class="table table-bordered">
            {{ form.as_table }}
        </table>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}